<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="viewport" content="width=device-width">

    <title>vrc-embed</title>

    <style>
        :root { color-scheme: dark; }
        body { background: #0E1013; color: #E6E7E8; font-family: 'Noto Sans', sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; line-height: 1.75; text-align: justify; }

        h1 { text-shadow: 0 2px 2px #1E2A31; text-align: center; }
    </style>
</head>
<body>
    <h1><img src="https://assets.vrchat.com/www/brand/vrchat-logo-white-transparent-crop-background.png" style="max-width: 110px; vertical-align: middle;"> Profile Widgets</h1>
    <p style="opacity: 0.85;">Do you want to show your current status on VRChat on your website? This unofficial service allows you to generate an SVG or PNG image to put wherever you'd like, showing your VRChat profile details and status information.</p>

    <h2>Configurator</h2>
    <p>TODO</p>

    <object type="image/svg+xml" data="/usr_2c591b12-5e38-4b29-9b78-ffb75cbdfef4/large.svg" width="355" height="340" title="My VRChat status" style="color-scheme: light;"><img src="/usr_2c591b12-5e38-4b29-9b78-ffb75cbdfef4/large.png" width="355" height="340" title="My VRChat status"/></object>

    <object type="image/svg+xml" data="/usr_2c591b12-5e38-4b29-9b78-ffb75cbdfef4/small.svg" width="250" height="150" title="My VRChat status" style="color-scheme: light;"><img src="/usr_2c591b12-5e38-4b29-9b78-ffb75cbdfef4/small.png" width="250" height="150" title="My VRChat status"/></object>

    <object type="image/svg+xml" data="/usr_2c591b12-5e38-4b29-9b78-ffb75cbdfef4/tiny.svg" width="250" height="70" title="My VRChat status" style="color-scheme: light;"><img src="/usr_2c591b12-5e38-4b29-9b78-ffb75cbdfef4/tiny.png" width="250" height="70" title="My VRChat status"/></object>

    <object type="image/svg+xml" data="/usr_113d7ac5-06c1-43ce-895d-5c95d20d8baa/large.svg?hide=pronouns" width="355" height="340" title="My VRChat status" style="color-scheme: light;"><img src="/usr_113d7ac5-06c1-43ce-895d-5c95d20d8baa/large.png?hide=pronouns" width="355" height="340" title="My VRChat status"/></object>

    <object type="image/svg+xml" data="/usr_113d7ac5-06c1-43ce-895d-5c95d20d8baa/small.svg?hide=pronouns" width="250" height="150" title="My VRChat status" style="color-scheme: light;"><img src="/usr_113d7ac5-06c1-43ce-895d-5c95d20d8baa/small.png?hide=pronouns" width="250" height="150" title="My VRChat status"/></object>

    <object type="image/svg+xml" data="/usr_113d7ac5-06c1-43ce-895d-5c95d20d8baa/tiny.svg?hide=pronouns" width="250" height="70" title="My VRChat status" style="color-scheme: light;"><img src="/usr_113d7ac5-06c1-43ce-895d-5c95d20d8baa/tiny.png?hide=pronouns" width="250" height="70" title="My VRChat status"/></object>


    <p style="text-align: center; opacity: 0.75; filter: grayscale(1);"><small>This service is not affiliated with VRChat or VRChat Inc.; VRChat is a registered trademark of VRChat Inc.<br><a href="https://github.com/knuxify/vrc-embed">Source code</a></small></p>
</body>
</html>
